[run]
branch = True
source = schema_salad
omit = schema_salad/tests/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    schema_salad/tests/*
    schema_salad/metaschema.py
    schema_salad/python_codegen_support.py
