[run]
branch = True
source = schema_salad
omit = src/schema_salad/tests/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    src/schema_salad/tests/*
    src/schema_salad/metaschema.py
    src/schema_salad/python_codegen_support.py
