.coverage
coverage.xml
pydocstyle_report.txt
.tox/
.eggs/
.vscode/
build/
dist/
.swp
.mypy_cache/
.git/
.pytest_cache/
*.whl
env*/
testenv*/
*.img
*.sif
*.so
.github/
schema_salad/*.so
*.Dockerfile
build-schema_salad-docker.sh
__pycache__/
*/__pycache__/
**/__pycache__/
*.egg-info/
*.orig
.dockerignore
