.tox/
.eggs
*.egg-info/
*pyc
*.so

build/
dist/
mypy-stubs/ruamel/yaml
# virtualenv
venv/
.cache/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
pydocstyle_report.txt

# PyCharm
.idea/

# setuptools_scm
_version.py
