include gittaggers.py Makefile LICENSE.txt requirements.txt mypy-requirements.txt test-requirements.txt mypy.ini
include schema_salad/py.typed
include schema_salad/avro/*
recursive-include schema_salad/java *
include schema_salad/tests/*
include schema_salad/tests/test_schema/*.md
include schema_salad/tests/test_schema/*.yml
include schema_salad/tests/test_schema/*.cwl
include schema_salad/tests/foreign/*.cwl
recursive-include schema_salad/tests/test_real_cwl *
include schema_salad/metaschema/*
include schema_salad/tests/docimp/*
recursive-include typeshed *.py?
global-exclude *~
global-exclude *.pyc
