[build-system]
requires = [
    "setuptools>=45",
    "setuptools_scm[toml]>=6.2",
    'mypy==0.971; python_version == "3.6"',  # last version for Python 3.6
    'mypy==0.991; python_version >= "3.7"',
    "black>=19.10b0",
    "types-pkg_resources",
    "types-requests",
    "types-dataclasses",
    "ruamel.yaml>= 0.12.4, != 0.16.6, < 0.18",
    "types-setuptools"
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "schema_salad/_version.py"

[tool.cibuildwheel]
before-build = "python -m pip install -r requirements.txt -r mypy-requirements.txt"
test-command = "python -m pytest -n 2 --junitxml=/output/test-results/junit_$(python -V | awk '{print $2}')_${AUDITWHEEL_PLAT}.xml --pyargs schema_salad"
test-requires = "-r test-requirements.txt"
test-extras = "pycodegen"
skip = "pp* cp36-*"
#      ^ skip building wheels on PyPy (any version)
#           ^ skip building wheels on Python 3.6 (we now need mypy 0.990+ which doesn't support Python 3.6)
build-verbosity = "1"
