[build-system]
requires = [
    "setuptools>=45",
    "setuptools_scm[toml]>=8.0.4,<9",
    'mypy==1.7.0',  # update mypy-requirements as well
    "black>=19.10b0",
    "types-pkg_resources",
    "types-requests",
    "types-dataclasses",
    "importlib_resources>=1.4",  # equivalent to Python 3.9
    "ruamel.yaml>= 0.12.4, != 0.16.6, < 0.18",
    "types-setuptools"
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "schema_salad/_version.py"

[tool.cibuildwheel]
before-build = "python -m pip install -r requirements.txt -r mypy-requirements.txt"
test-command = "python -m pytest -n 2 --junitxml=/output/test-results/junit_$(python -V | awk '{print $2}')_${AUDITWHEEL_PLAT}.xml --pyargs schema_salad"
test-requires = "-r test-requirements.txt"
test-extras = "pycodegen"
skip = "pp* cp312-*"
#      ^ skip building wheels on PyPy (any version)
#           ^ skip building wheels on 3.12 (not ready)
build-verbosity = "1"

[tool.black]
line-length = 100
target-version = [ "py38" ]
