name: publish-quay
on:
  push:
    tags:
      - '*'
  workflow_dispatch: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get image tags
        id: image_tags
        run: |
          echo -n ::set-output name=IMAGE_TAGS::${GITHUB_REF#refs/*/}
      - name: record schema-salad version
        run: pip install setuptools_scm[toml] && python -m setuptools_scm
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Quay.io
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.REGISTRY_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and publish schema-salad image to Quay
        uses: docker/build-push-action@v3
        with:
          context: .
          file: schema_salad.Dockerfile
          tags: quay.io/commonwl/schema_salad:${{ steps.image_tags.outputs.IMAGE_TAGS }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
